params.projDir="${projectDir}"
params.manual_assembies = "${projectDir}/manual_assemblies"
params.inputmodel = "r1041_e82_400bps_bacterial_methylation" // used for Medaka polishing
params.databasesDir = "/mnt/nfs-gram-negative-study/assembly/pilot2"
params.outdir = "${projectDir}"  // default, overridden by --outdir

// ############# profiles #############
profiles {
    conda {
	conda.enabled = true
        conda.useMamba = false
        conda.cacheDir = "/mnt/nfs-gram-negative-study/assembly/assembly_main_pipeline_v2/assembly_main_pipeline_no_db/work/conda"
	process {
       //environment specifications added within process blocks instead	             
	}
    }
	hpc {
                process.executor = 'local'
                process.queue = 'short'
                process {
                 withName: 'RAWQC_ONT' {
                                executor = 'local'
                 }
                 withLabel: 'online' {
                                executor = 'local'
                 }
                }
        }
}

// ########### processes ###############

process.errorStrategy = 'ignore'

