params.projDir="${projectDir}"
params.manual_assembies = "${projectDir}/manual_assemblies"
params.inputmodel = "r1041_e82_400bps_bacterial_methylation" // used for Medaka polishing
params.databasesDir = "/mnt/nfs-gram-negative-study/assembly/pilot2"

// ############# profiles #############
profiles {
    conda {
	conda.enabled = true
        conda.useMamba = false
        conda.cacheDir = "/mnt/nfs-gram-negative-study/assembly/assembly_main_pipeline_v2/assembly_main_pipeline_no_db/work/conda"
	process {
		withName: 'RAVEN_ASSEMBLE_INITIAL' {
                        conda = "${projectDir}/envs/autocycler_with_scripts.yml" 
            }
                withName: 'GENOME_SIZE_AND_CONTAMINATION' {
                        conda = "${projectDir}/envs/checkm2.yml"
            }
                withName: 'RAWQC_ONT' {
			conda = "${projectDir}/envs/seqkit.yml"
	    }
		withName: 'RAWQC_ONT_SUBSAMPLED' {
                        conda = "${projectDir}/envs/seqkit.yml"
            }
                withName: 'AUTOCYCLER_SUBSAMPLE' {
                        conda = "${projectDir}/envs/autocycler_with_scripts.yml"
            }
                withName: 'AUTOCYCLER_ASSEMBLE_CANU' {
                        conda = "${projectDir}/envs/autocycler_with_scripts.yml"
            }
                withName: 'AUTOCYCLER_ASSEMBLE_FLYE' {
                        conda = "${projectDir}/envs/flye_new.yml"
            }
                withName: 'AUTOCYCLER_ASSEMBLE_MINIASM' {
                        conda = "${projectDir}/envs/autocycler_with_scripts.yml"
            }                
                withName: 'AUTOCYCLER_ASSEMBLE_RAVEN' {
                        conda = "${projectDir}/envs/autocycler_with_scripts.yml"
            }
                 withName: 'CHECKM2_INPUT_ASSEMBLIES' {
                        conda = "${projectDir}/envs/checkm2.yml"
            }                
                withName: 'AUTOCYCLER_COMPRESS' {
                        conda = "${projectDir}/envs/autocycler_with_scripts.yml"
            }		
		withName: 'MEDAKA_FULL' {
			conda = "${projectDir}/envs/medaka.yml"
	    }
		withName: 'HYBRACTER_LONG_INDIVIDUAL' {
			conda = "${projectDir}/envs/hybracterENV.yml"
	    }
		withName: 'SEQKIT' {
			conda = "${projectDir}/envs/seqkit.yml"
	    }
		 withName: 'CHECKM2_CONSENSUS' {
                        conda = "${projectDir}/envs/checkm2.yml"
            }
		withName: 'BAKTA' {
			conda = "${projectDir}/envs/bakta.yml"
	    }
		withName: 'MLST' {
			conda = "${projectDir}/envs/mlst.yml"
	    }
                withName: 'KRAKEN2' {
                    conda = "${projectDir}/envs/kraken2.yml"
            }   
                withName: 'SPECIES_FROM_KRAKEN2' {
                    conda = "${projectDir}/envs/kraken2.yml"
            }
		withName: 'AMRFINDERPLUS' {
		    conda = "${projectDir}/envs/amrfinder.yml"
	    } 
                withName: 'MOB_SUITE' {
                    conda = "${projectDir}/envs/mob_suite.yml"
            }
               
	}
    }
	cloud {
                process.executor = 'local'
                process.queue = 'short'
                process {
                        withName: 'BAKTA_DOWNLOAD' {
                                executor = 'local'
                 }
                 withName: 'RAWQC_ONT' {
                                executor = 'local'
                 }
                 withLabel: 'online' {
                                executor = 'local'
                 }
                }
        }
}

// ########### processes ###############

process.errorStrategy = 'ignore'

